<div class="w-full text-center">
  <p><%= Date.today.strftime("%A, %B %d")%></p>
  <img class="mx-auto" src="<%= @weather.icon_url%>" />
  <p><%= @weather.status%></p>
  <p class="text-xs"><%= @weather.description%></p>
  <p><%= @weather.temperature%> <span class="italics">Fahrenheit</span></p>
</div>
